table{
	position: fixed;
	left: 50%;
	top:50%;
	margin-top:-157px;
	margin-left:-158px;

}

#btn1 {
	display:inline-block;
	padding: 10px 20px;
	color: white;
	background: #3194c6;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#3194c6), to(#5bacd6));
	font-family: "HelveticaNeue-Light";
	font-size: 500%;
	text-shadow: 0 -1px 1px rgba(19,65,88,.8);
	border-radius: 8px;
	position: fixed;
	left: 20%;
	top: 43%;
}
#btn2 {
	display:inline-block;
	padding: 10px 20px;
	color: white;
	background: #3194c6;
	font-family: "HelveticaNeue-Light";
	font-size: 500%;
	text-shadow: 0 -1px 1px rgba(19,65,88,.8);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#3194c6), to(#5bacd6));
	border-radius: 8px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top:-50px;
	margin-left:-200px;

}
#reset{
	color: white;
	background: #3194c6;
	font-family: "HelveticaNeue-Light";
	font-size: 150%;
	text-shadow: 0 -1px 1px rgba(19,65,88,.8);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#3194c6), to(#5bacd6));
	border-radius: 8px;
	position: fixed;
	left: 47.3%;
	top: 15%;
}

.box{
	width:100px;
	height:100px;
	background-color:white;
	
	display: inline-block;
	margin: auto;
	text-align: center;
	font-size:550%;	
}
#box-1{
	border-bottom:1px solid gray;
	border-right:1px solid gray;
	border-top: 0px;
	border-left: 0px;
	text-align: center;
	}
#box-2{
     border-bottom:1px solid gray;
     border-right:1px solid gray;
     border-top: 0px;
     border-left: 1px solid gray;
     }

#box-3{
     border-bottom:1px solid gray;
     border-right:0px;
     border-top: 0px;
     border-left: 1px solid gray;
     }

#box-4{
     border-bottom:1px solid gray;
     border-right:1px solid gray;
     border-top: 1px solid gray;
     border-left: 0px;
     }


#box-5{
     border-bottom:1px solid gray;
     border-right:1px solid gray;
     border-top: 1px solid gray;
     border-left: 1px solid gray;
     }

#box-6{
     border-bottom:1px solid gray;
     border-right:0px;
     border-top: 1px solid gray;
     border-left: 1px solid gray;
     }

#box-7{
     border-bottom:0px solid gray;
     border-right:1px solid gray;
     border-top: 1px solid gray;
     border-left: 0px;
     }

#box-8{
     border-bottom:0px solid gray;
     border-right:1px solid gray;
     border-top: 1px solid gray;
     border-left: 1px solid gray;
     }

#box-9{
     border-bottom:0px solid gray;
     border-right:0px solid gray;
     border-top: 1px solid gray;
     border-left: 1px solid gray;
     }

